services:
  mongodb:
    build: ./mongodb
    image: pravakula/mongodb:v1
    container_name: mongodb
    volumes:
    - mongodb:/data/db #The mount path of mongodb is known when you explore the mongodb image. check -v in the image documentation
  redis:
    image: redis:7.0
    container_name: redis
    volumes:
    - redis:/data
  mysql:
    build: ./mysql
    image: pravakula/mysql:v1
    container_name: mysql
    volumes:
    - mysql:/var/lib/mysql
  rabbitmq:
    image: rabbitmq:3
    container_name: rabbitmq
    volumes:
    - rabbitmq:/var/lib/rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: roboshop
      RABBITMQ_DEFAULT_PASS: roboshop123
  catalogue:
    build:
      context: ./catalogue
      dockerfile: Dockerfile 
    image: pravakula/catalogue:v1
    container_name: catalogue
    depends_on:
    - mongodb
  user:
    build: ./user
    image: pravakula/user:v1
    container_name: user
    depends_on:
    - redis
    - mongodb
  cart:
    build: ./cart
    image: pravakula/cart:v1
    container_name: cart
    depends_on:
    - redis
    - catalogue
  shipping:
    build: ./shipping
    image: pravakula/shipping:v1
    container_name: shipping
    depends_on:
    - mysql
    - cart
  payment:
    build: ./payment
    image: pravakula/payment:v1
    container_name: payment
    depends_on:
    - rabbitmq
    - cart
    - user
  frontend:
    build: ./frontend
    image: pravakula/frontend:v1
    container_name: frontend
    ports:
    - "80:80"
    depends_on:
    - catalogue
    - user
    - cart
    - shipping
    - payment
networks:
  default:
    driver: bridge
    name: roboshop
    external: false #true when you have created network manually using docker network command
volumes:
  mongodb:
  redis:
  mysql:
  rabbitmq:


